@import 'reset';

#banner {
  background-color: #134964;
  height: 25px;
  width: 100%;
}

.nav-tab {
  width: 50px;
  padding: 10px;
  float: left;
  text-align: center;
  margin-left: 5px;
}

.nav-1 {
  // border-bottom: 2px solid #134964;
}

header div:hover {
  border-bottom: 2px solid rgb(0,150,200);
}

#name-holder {
  margin-top: 60px;
  line-height: normal;
  font-size: 140px;
	font-family: 'Monoton', cursive;
	text-align: center;
  color: #134964;
}

.info-me {
	margin: 0 auto;
	width: 960px;
}

.space {
	padding-top: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.ending-bar {
  width: 960px;
  border-bottom: 5px solid #134964;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

/*adding in show more and show less */

.container{
  transition-property: overflow, max-height;
  transition-delay: 0s;
  transition-duration: 2s;
  overflow: hidden;
  width: 100%;
  margin-top: 25px;
  /*margin-left: 20px;
  margin-right: 20px;*/
}

span{
  display: none;
}

.container p{
  font-size: 13px;
  padding-top: 5px;
  line-height: 1.5em;

}

.read-more-trigger{
  margin-bottom: 25px;
  /*margin-left: 20px;
  margin-right: 20px;*/
}

.arrow{
  font-size: 13px;
  display: inline-block;
  transition-property: transform;
  transition-duration: .2s;
}

.arrow-rotate{
  transition-property: transform;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.read-more{
  color: rgb(0,150,200);
  font-size: 13px;
  padding-left: 5px;
  display: inline;
}

.show-container{
  transition-property: overflow, max-height;
  margin-top: 25px;
  width: 100%;
  /*margin-left: 20px;
  margin-right: 20px;*/
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #134964;
}

.section-margin {
  width: 960px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.section-margin-top {
  padding-top: 100px;
  width: 960px;
  padding-bottom: 20px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3em;
}

footer {
  height: 70px;
  background-color: #134964;
  margin-top: 50px;
}

footer img {
  width: 50px;
  height: 50px;
  float: left;
  // background-color: white;
  margin: 10px;
}

.project-img img {
  max-width: 400px;
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
  display: block;
}

.project-info {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lists {
  list-style-type: circle;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edu-bold {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.bump-down {
  margin-top: 30px;
}
